html, body {
    width: 100%;
}
.title{
  text-align: center;
}

.chooseFirst{
  text-align: center;
}

.startOver{
  text-align: center;
  margin-top: 20px;
}

.startButton{
  margin-top: 20px;
  margin-bottom: 10px;
}

.player{
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
}

button{
  font-size: 15px;
}

.restart{
  margin-top: 20px;
}

.col{
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 25px;
}

.board{
  margin: 0 auto;
}

.winner{
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
}

.col0{
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
}

.col1{
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
  
}

.col2{
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  
}

.col3{
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
}

.col4{
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
}

.col5{
  border-top: 5px solid #000;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
}


.col6{
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}


.col7{
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
}

.col8{
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}
